{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>1RM history</h1>
    <table class="table table-hover" style="width: 400px; float: left; margin: 20px 30px 0 0">
        {% for lift in lift_history %}
        <tr>
            <td style="width: 120px">{{ moment(lift.timestamp).format("YYYY-MM-DD") }}</td>
            <td style="width: 150px">{{ lift.lift_name }}</td>
            <td>{{ lift.max }}</td>
        </tr>
    {% endfor %}
    </table>

    <div style="float: right; ">
    <canvas id="line-chart" width="700" height="500"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    var ctx = document.getElementById('line-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for d in date_history %}"{{ d[0] }}",{% endfor %}],
            datasets: [{
                label: 'Deadlift',
                data: [{% for lift in lift_history %}{% if lift.lift_name == 'Deadlift' %}{x: "{{ lift.timestamp }}", y: "{{ lift.max }}"},{% endif %}{% endfor %}],
                borderColor: "#8e5ea2",
                fill: false
            },
            {
                label: 'Press',
                data: [{% for lift in lift_history %}{% if lift.lift_name == 'Press' %}{x: "{{ lift.timestamp }}", y: "{{ lift.max }}"},{% endif %}{% endfor %}],
                borderColor: "#3e95cd",
                fill: false
            },
            {
                label: 'Squat',
                data: [{% for lift in lift_history %}{% if lift.lift_name == 'Squat' %}{x: "{{ lift.timestamp }}", y: "{{ lift.max }}"},{% endif %}{% endfor %}],
                borderColor: "#3e95cd",
                fill: false
            },
            {
                label: 'Bench',
                data: [{% for lift in lift_history %}{% if lift.lift_name == 'Bench' %}{x: "{{ lift.timestamp }}", y: "{{ lift.max }}"},{% endif %}{% endfor %}],
                borderColor: "#3e95cd",
                fill: false
            },
            ]
        },
        options: {
            title: {
              display: true,
              text: 'One rep max progress'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    </div>
{% endblock %}